
@font-face {
    font-family: 'SDF';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url('/Fonts/IRANSansX-bold.woff') format('woff'), url('/Fonts/IRANSansX-bold.woff2') format('woff2');
}

@font-face {
    font-family: 'SDF';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('/Fonts/IRANSansX-light.woff') format('woff'), url('/Fonts/IRANSansX-light.woff2') format('woff2');
}
